
html, body {
	overflow: auto ;
}

#comics_titlebar{
	-webkit-box-sizing: border-box;
	display: block;
	position: fixed;
	height: 50px;
	width: 100%;
	font-size: 30px;
	background-color: #2a2a2a;
	color: #C0c0c0;
	padding-top: 10px;
}

#comics_nextchaptertxt{
	-webkit-box-sizing: border-box;
	float: left;
	color: white;
	font-size: 30px;
	margin-left: 15%; 
}

#comics_button_place{
	-webkit-box-sizing: border-box;
	width:35%;
	height: 30px;
	float: right; 
	margin-right: 5%;
}

.comics_button{
	-webkit-box-sizing: border-box;
	font-family: Arial, sans-serif;
	color: #fff;
	font-size: 15px;
	width:100px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	height: 30px;
	line-height: normal;
	margin-left: 10px;
	text-align: center;
	background-color: #357ae8;
	display: inline-block;
	cursor: pointer;
}


#comics_panel{
	display: block;
	padding-bottom: 40px;
	background-color: #2a2a2a;
	color: #C0c0c0;
}

.comics_img{
	display:block;
	background: none ;
	max-width: 100%;
	font-family: Arial, sans-serif;
	font-size: 30px;
	text-align: center;
	/*max-height: 92vh;*/
	margin: auto;
	/*margin-top: 40px;*/
	padding-top: 45px;
	/*vertical-align: middle;*/

}

