
html, body {
	overflow: auto ;
}
img { background: none ;}
/*end*/


#comics_titlebar{
	-webkit-box-sizing: border-box;
	display: block;
	position: fixed;
	height: 50px;
	width: 100%;
	font-size: 30px;
	background-color: black;
	color: white;
	padding-top: 10px;
}

#comics_nextchaptertxt{
	/*display: inline-block;*/
	-webkit-box-sizing: border-box;
	float: left;
	color: white;
	font-size: 30px;
	margin-left: 20%; 
}

#comics_button_place{
	-webkit-box-sizing: border-box;
	width:30%;
	height: 30px;
	/*line-height: normal;*/
	/*display: inline-block;*/
	float: right; 
	/*margin-top: 8px;*/
	/*padding-top: 5px;*/
	margin-right: 15%;

	/*margin: auto;*/

}

.comics_button{
	-webkit-box-sizing: border-box;
	font-family: Arial, sans-serif;
	color: #fff;
	font-size: 20px;
	width:100px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	height: 30px;
	/*margin-top: 20px; */
	/*min-height: 34px;*/
	line-height: normal;
	margin-left: 10px;
	text-align: center;
	background-color: #357ae8;
	display: inline-block;
	/*padding-top: 5px;*/
	/*margin: auto;*/
}


#comics_panel{
	display: block;
	padding-bottom: 40px;
	/*text-align: center;*/
	background-color: black;
	
}

.comics_img{
	/*box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.4);*/
	/*margin: 40px auto;*/
	display:block;
	/*width:850px;*/
	max-width: 100%;
	/*max-height: 92vh;*/
	margin: auto;
	padding-top: 40px;
	/*vertical-align: middle;*/

}

