<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Comics Scroller</title>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="app"></div>
</body>
</html>