/*  Red */
@value red-50: rgb(255,235,238);
@value red-100: rgb(255,205,210);
@value red-200: rgb(239,154,154);
@value red-300: rgb(229,115,115);
@value red-400: rgb(239,83,80);
@value red-500: rgb(244,67,54);
@value red-600: rgb(229,57,53);
@value red-700: rgb(211,47,47);
@value red-800: rgb(198,40,40);
@value red-900: rgb(183,28,28);
@value red-a100: rgb(255,138,128);
@value red-a200: rgb(255,82,82);
@value red-a400: rgb(255,23,68);
@value red-a700: rgb(213,0,0);

/*  Pink */
@value pink-50: rgb(252,228,236);
@value pink-100: rgb(248,187,208);
@value pink-200: rgb(244,143,177);
@value pink-300: rgb(240,98,146);
@value pink-400: rgb(236,64,122);
@value pink-500: rgb(233,30,99);
@value pink-600: rgb(216,27,96);
@value pink-700: rgb(194,24,91);
@value pink-800: rgb(173,20,87);
@value pink-900: rgb(136,14,79);
@value pink-a100: rgb(255,128,171);
@value pink-a200: rgb(255,64,129);
@value pink-a400: rgb(245,0,87);
@value pink-a700: rgb(197,17,98);

/*  Purple */
@value purple-50: rgb(243,229,245);
@value purple-100: rgb(225,190,231);
@value purple-200: rgb(206,147,216);
@value purple-300: rgb(186,104,200);
@value purple-400: rgb(171,71,188);
@value purple-500: rgb(156,39,176);
@value purple-600: rgb(142,36,170);
@value purple-700: rgb(123,31,162);
@value purple-800: rgb(106,27,154);
@value purple-900: rgb(74,20,140);
@value purple-a100: rgb(234,128,252);
@value purple-a200: rgb(224,64,251);
@value purple-a400: rgb(213,0,249);
@value purple-a700: rgb(170,0,255);

/* Deep Purple */
@value deep-purple-50: rgb(237,231,246);
@value deep-purple-100: rgb(209,196,233);
@value deep-purple-200: rgb(179,157,219);
@value deep-purple-300: rgb(149,117,205);
@value deep-purple-400: rgb(126,87,194);
@value deep-purple-500: rgb(103,58,183);
@value deep-purple-600: rgb(94,53,177);
@value deep-purple-700: rgb(81,45,168);
@value deep-purple-800: rgb(69,39,160);
@value deep-purple-900: rgb(49,27,146);
@value deep-purple-a100: rgb(179,136,255);
@value deep-purple-a200: rgb(124,77,255);
@value deep-purple-a400: rgb(101,31,255);
@value deep-purple-a700: rgb(98,0,234);

/*  Indigo */
@value indigo-50: rgb(232,234,246);
@value indigo-100: rgb(197,202,233);
@value indigo-200: rgb(159,168,218);
@value indigo-300: rgb(121,134,203);
@value indigo-400: rgb(92,107,192);
@value indigo-500: rgb(63,81,181);
@value indigo-600: rgb(57,73,171);
@value indigo-700: rgb(48,63,159);
@value indigo-800: rgb(40,53,147);
@value indigo-900: rgb(26,35,126);
@value indigo-a100: rgb(140,158,255);
@value indigo-a200: rgb(83,109,254);
@value indigo-a400: rgb(61,90,254);
@value indigo-a700: rgb(48,79,254);

/*  Blue */
@value blue-50: rgb(227,242,253);
@value blue-100: rgb(187,222,251);
@value blue-200: rgb(144,202,249);
@value blue-300: rgb(100,181,246);
@value blue-400: rgb(66,165,245);
@value blue-500: rgb(33,150,243);
@value blue-600: rgb(30,136,229);
@value blue-700: rgb(25,118,210);
@value blue-800: rgb(21,101,192);
@value blue-900: rgb(13,71,161);
@value blue-a100: rgb(130,177,255);
@value blue-a200: rgb(68,138,255);
@value blue-a400: rgb(41,121,255);
@value blue-a700: rgb(41,98,255);

/*  Light Blue */
@value light-blue-50: rgb(225,245,254);
@value light-blue-100: rgb(179,229,252);
@value light-blue-200: rgb(129,212,250);
@value light-blue-300: rgb(79,195,247);
@value light-blue-400: rgb(41,182,246);
@value light-blue-500: rgb(3,169,244);
@value light-blue-600: rgb(3,155,229);
@value light-blue-700: rgb(2,136,209);
@value light-blue-800: rgb(2,119,189);
@value light-blue-900: rgb(1,87,155);
@value light-blue-a100: rgb(128,216,255);
@value light-blue-a200: rgb(64,196,255);
@value light-blue-a400: rgb(0,176,255);
@value light-blue-a700: rgb(0,145,234);

/*  Cyan */
@value cyan-50: rgb(224,247,250);
@value cyan-100: rgb(178,235,242);
@value cyan-200: rgb(128,222,234);
@value cyan-300: rgb(77,208,225);
@value cyan-400: rgb(38,198,218);
@value cyan-500: rgb(0,188,212);
@value cyan-600: rgb(0,172,193);
@value cyan-700: rgb(0,151,167);
@value cyan-800: rgb(0,131,143);
@value cyan-900: rgb(0,96,100);
@value cyan-a100: rgb(132,255,255);
@value cyan-a200: rgb(24,255,255);
@value cyan-a400: rgb(0,229,255);
@value cyan-a700: rgb(0,184,212);

/*  Teal */
@value teal-50: rgb(224,242,241);
@value teal-100: rgb(178,223,219);
@value teal-200: rgb(128,203,196);
@value teal-300: rgb(77,182,172);
@value teal-400: rgb(38,166,154);
@value teal-500: rgb(0,150,136);
@value teal-600: rgb(0,137,123);
@value teal-700: rgb(0,121,107);
@value teal-800: rgb(0,105,92);
@value teal-900: rgb(0,77,64);
@value teal-a100: rgb(167,255,235);
@value teal-a200: rgb(100,255,218);
@value teal-a400: rgb(29,233,182);
@value teal-a700: rgb(0,191,165);

/*  Green */
@value green-50: rgb(232,245,233);
@value green-100: rgb(200,230,201);
@value green-200: rgb(165,214,167);
@value green-300: rgb(129,199,132);
@value green-400: rgb(102,187,106);
@value green-500: rgb(76,175,80);
@value green-600: rgb(67,160,71);
@value green-700: rgb(56,142,60);
@value green-800: rgb(46,125,50);
@value green-900: rgb(27,94,32);
@value green-a100: rgb(185,246,202);
@value green-a200: rgb(105,240,174);
@value green-a400: rgb(0,230,118);
@value green-a700: rgb(0,200,83);

/*  Green */
@value light-green-50: rgb(241,248,233);
@value light-green-100: rgb(220,237,200);
@value light-green-200: rgb(197,225,165);
@value light-green-300: rgb(174,213,129);
@value light-green-400: rgb(156,204,101);
@value light-green-500: rgb(139,195,74);
@value light-green-600: rgb(124,179,66);
@value light-green-700: rgb(104,159,56);
@value light-green-800: rgb(85,139,47);
@value light-green-900: rgb(51,105,30);
@value light-green-a100: rgb(204,255,144);
@value light-green-a200: rgb(178,255,89);
@value light-green-a400: rgb(118,255,3);
@value light-green-a700: rgb(100,221,23);

/*  Lime */
@value lime-50: rgb(249,251,231);
@value lime-100: rgb(240,244,195);
@value lime-200: rgb(230,238,156);
@value lime-300: rgb(220,231,117);
@value lime-400: rgb(212,225,87);
@value lime-500: rgb(205,220,57);
@value lime-600: rgb(192,202,51);
@value lime-700: rgb(175,180,43);
@value lime-800: rgb(158,157,36);
@value lime-900: rgb(130,119,23);
@value lime-a100: rgb(244,255,129);
@value lime-a200: rgb(238,255,65);
@value lime-a400: rgb(198,255,0);
@value lime-a700: rgb(174,234,0);

/*  Yellow */
@value yellow-50: rgb(255,253,231);
@value yellow-100: rgb(255,249,196);
@value yellow-200: rgb(255,245,157);
@value yellow-300: rgb(255,241,118);
@value yellow-400: rgb(255,238,88);
@value yellow-500: rgb(255,235,59);
@value yellow-600: rgb(253,216,53);
@value yellow-700: rgb(251,192,45);
@value yellow-800: rgb(249,168,37);
@value yellow-900: rgb(245,127,23);
@value yellow-a100: rgb(255,255,141);
@value yellow-a200: rgb(255,255,0);
@value yellow-a400: rgb(255,234,0);
@value yellow-a700: rgb(255,214,0);

/*  Amber */
@value amber-50: rgb(255,248,225);
@value amber-100: rgb(255,236,179);
@value amber-200: rgb(255,224,130);
@value amber-300: rgb(255,213,79);
@value amber-400: rgb(255,202,40);
@value amber-500: rgb(255,193,7);
@value amber-600: rgb(255,179,0);
@value amber-700: rgb(255,160,0);
@value amber-800: rgb(255,143,0);
@value amber-900: rgb(255,111,0);
@value amber-a100: rgb(255,229,127);
@value amber-a200: rgb(255,215,64);
@value amber-a400: rgb(255,196,0);
@value amber-a700: rgb(255,171,0);

/*  Orange */
@value orange-50: rgb(255,243,224);
@value orange-100: rgb(255,224,178);
@value orange-200: rgb(255,204,128);
@value orange-300: rgb(255,183,77);
@value orange-400: rgb(255,167,38);
@value orange-500: rgb(255,152,0);
@value orange-600: rgb(251,140,0);
@value orange-700: rgb(245,124,0);
@value orange-800: rgb(239,108,0);
@value orange-900: rgb(230,81,0);
@value orange-a100: rgb(255,209,128);
@value orange-a200: rgb(255,171,64);
@value orange-a400: rgb(255,145,0);
@value orange-a700: rgb(255,109,0);

/*  Deep Orange */
@value deep-orange-50: rgb(251,233,231);
@value deep-orange-100: rgb(255,204,188);
@value deep-orange-200: rgb(255,171,145);
@value deep-orange-300: rgb(255,138,101);
@value deep-orange-400: rgb(255,112,67);
@value deep-orange-500: rgb(255,87,34);
@value deep-orange-600: rgb(244,81,30);
@value deep-orange-700: rgb(230,74,25);
@value deep-orange-800: rgb(216,67,21);
@value deep-orange-900: rgb(191,54,12);
@value deep-orange-a100: rgb(255,158,128);
@value deep-orange-a200: rgb(255,110,64);
@value deep-orange-a400: rgb(255,61,0);
@value deep-orange-a700: rgb(221,44,0);

/*  Brown */
@value brown-50: rgb(239,235,233);
@value brown-100: rgb(215,204,200);
@value brown-200: rgb(188,170,164);
@value brown-300: rgb(161,136,127);
@value brown-400: rgb(141,110,99);
@value brown-500: rgb(121,85,72);
@value brown-600: rgb(109,76,65);
@value brown-700: rgb(93,64,55);
@value brown-800: rgb(78,52,46);
@value brown-900: rgb(62,39,35);

/*  Grey */
@value grey-50: rgb(250,250,250);
@value grey-100: rgb(245,245,245);
@value grey-200: rgb(238,238,238);
@value grey-300: rgb(224,224,224);
@value grey-400: rgb(189,189,189);
@value grey-500: rgb(158,158,158);
@value grey-600: rgb(117,117,117);
@value grey-700: rgb(97,97,97);
@value grey-800: rgb(66,66,66);
@value grey-900: rgb(33,33,33);

/*  Blue Grey */
@value blue-grey-50: rgb(236,239,241);
@value blue-grey-100: rgb(207,216,220);
@value blue-grey-200: rgb(176,190,197);
@value blue-grey-300: rgb(144,164,174);
@value blue-grey-400: rgb(120,144,156);
@value blue-grey-500: rgb(96,125,139);
@value blue-grey-600: rgb(84,110,122);
@value blue-grey-700: rgb(69,90,100);
@value blue-grey-800: rgb(55,71,79);
@value blue-grey-900: rgb(38,50,56);
@value color-black: rgb(0,0,0);
@value color-white: rgb(255,255,255);
