@value grey-200 from 'css/color';
body {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  color: #616161;
  background: grey-200;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

span {
  box-sizing: border-box;
}

a:link {
  text-decoration: none !important;
  color: inherit;
}

a:visited {
  color: inherit;
}