.ComicImageNatural {
  border: 2px solid;
  margin: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(100vw);
  > img {
    height: 100%;
    max-width: calc(100vw - 4px);
    object-fit: contain;
  }
  > div {
    font-size: 40px;
    color: #FFF;
    text-align: center;
    width: 900px;
  }
}

.ComicImage {
  composes: ComicImageNatural;
}

.ComicImageInit {
  composes: ComicImage;
  width: 980px;
}

.ComicImageWide {
  composes: ComicImage;
  min-width: 980px;
}

.ComicImageEnd {
  margin: 20px 0;
  line-height: 72px;
  font-size: 36px;
  text-align: center;
  color: #FFF;
}